# Web Server Development Port (npm run dev)
VITE_DEV_PORT_WEB=3000

# Tauri Development Port (npm run tauri:dev)
VITE_DEV_PORT_TAURI=1420

# Backend WebSocket Port (the port gtaurus_server listens on)
VITE_BACKEND_PORT=9001
